rules:
  eol-last: [0]
  // TODO: use default value (UNIX) if standard is removed.
  linebreak-style: [1, 'unix']
  max-len: [1, 80]
  max-params: [1, 4]
  space-before-function-paren: [1, 'never']
  wrap-iife: [0]
  complexity: [1, 8]
  no-floating-decimal: [0]
  strict: [2, 'never']
  prefer-const: [1]
  spaced-comment: [1]
  no-var: [1]
  quotes: [1, 'single', {avoidEscape: true}]
  semi: [1, 'never']
  require-jsdoc:
  - 1
  - require:
      MethodDefinition: true
      ClassDeclaration: true
  valid-jsdoc:
  - 1
  - prefer:
      return: 'return'
    requireReturn: false
    requireParamDescription: false
    requireReturnDescription: false
env:
  browser: true
  commonjs: true
extends: 'standard'
